.badge-numero {
    background-color: red;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  
  .numero {
    font-weight: bold;
  }

  .badge-numero-2 {
    top: -6px;
    right: -6px;
  }
  
  