.scroll-vertical {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  background-color: #F2ECEC;
  padding: 16px;
  /* min-height: 400px; */
}

.framee {
  align-items: flex-start;
  background-color: #c4bfb7;
  border-radius: 12px;
  box-shadow: 0px 0px 3.4px #00000040;
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  padding: 6px;
  position: relative;
}

.framee .front-view {
  height: 191px;
  position: relative;
  width: 150px;
}

.framee .text-wrapperr {
  color: #ffffff;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.framee .div {
  color: #ffffff;
  font-family: "Poppins-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 144px;
}

.framee .text-wrapperr-2 {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}




/* .frame-modal {

  background-color: #ffffff;

  border-radius: 16px;

  height: 700px;

  overflow: hidden;

  position: relative;

  width: 360px;
}

.frame-modal .imagem-lanche {

  height: 181px;

  left: 11px;

  object-fit: cover;

  position: absolute;

  top: 11px;

  width: 140px;

}



.frame-modal.overlap {

  height: 119px;

  left: 168px;

  position: absolute;

  top: 10px;

  width: 168px;
}

.frame-modal .nome-lanche {
  color: #ed8d08;

  font-family: "Poppins-Bold", Helvetica;

  font-size: 32px;

  font-weight: 700;

  left: 0;

  letter-spacing: 0;

  line-height: normal;

  position: absolute;

  top: 0;
}

.frame-modal .descri-o {

  color: #575252;

  font-family: "Poppins-Light", Helvetica;

  font-size: 16px;

  font-weight: 300;

  left: 2px;

  letter-spacing: 0;

  line-height: normal;

  position: absolute;

  top: 47px;

  width: 166px;

}


frame-modal.text-wrapper-14 {

  color: #ed8d08;

  font-family: "Poppins-Bold", Helvetica;

  font-size: 15px;

  font-weight: 700;

  left: 121px;

  letter-spacing: 0;

  Line-height: normal;

  position: absolute;

  top: 209px;
} */