.tela-inicial {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
}

.tela-inicial .div-3 {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden; /* impede rolagem extra */
  position: relative;
}

.tela-inicial .top_bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 9vh;
  width: 100%;
  background-color: #756a6a;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.tela-inicial .logo-instance {
  height: 2.5vh;
  width: auto;
  margin-left: auto;
  margin-right: 16px; /* mexe na distancia da logo */
}

.tela-inicial .text_up {
  font-family: "Poppins-SemiBold", Helvetica;
  color: #ffffff;
  font-size: 2.5vh;
  font-weight: 600;
}

.tela-inicial .text_special_category {
  color: #ec8d07;
  font-family: "Inter-Bold", Helvetica;
  white-space: nowrap;
  text-align: left;
  margin-top: 10vh;
  margin-bottom: 0.7vh;
  padding-left: 1rem;
  font-size: 2.5vh;
  font-weight: 600;
}

.conteudo {
  display: flex;
  flex-direction: column;
  flex: 1;
 
  padding-bottom: 60px; /* espaço para o menu inferior */
  overflow: hidden;
}

.scroll-area {
  flex: 1;
  overflow-y: auto;
}




.tela-inicial .menu-inferior {  
  background-color: #ffffff;
  border-radius: 12px 12px 0px 0px;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1001; 
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  
}


.tela-inicial .icones {
  display: flex;
  justify-content: space-between; 
    align-items: center;
  height: 100%;
  padding: 0 16px;
  position: relative;
  width: 100%;
}



.tela-inicial .vector,
.tela-inicial .vector-2 {
  width: 35px;
  height: auto;
}

.tela-inicial .icone-direito {
  position: relative;
}

.tela-inicial .badge-numero-2 {
  position: absolute !important;
  top: -8px !important;
  right: -8px !important;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}